* {
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }


header{
    position: fixed;
    background-color: rgba(255,255,255,0.2);
    height: 80px;
    width: 100%;
}
header > .inner{
    width: 960px;
    margin: 0 auto;
    /* background-color: #fff; */
}
header > .inner > .logo{
    float: left;
    margin: 10px 115px 10px 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
header > .inner > .logo > img{
    width: 60px;
    height: 60px;
    vertical-align: top;
}
header > .inner > .logo > input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    opacity: 0;
    cursor: pointer;
}
header > .inner > .logo > .mark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 16px;
}
header > .inner > .logo:hover .mark{
    display: flex;
}


header > .inner > label{
    float: left;
    position: relative;
}
header > .inner .searchIcon{
    position: absolute;
    top: 25px;
    left: 17px;
}
header > .inner .searchIcon > .icon{
    width: 20px;
    height: 20px;
    fill: rgba(175,175,175,0.8)
}
header > .inner .search{
    font-size: 20px;
    line-height: 24px;
    padding: 6px 6px 6px 30px;
    margin: 21px 10px;
    width: 506px;
    border: 1px solid #DEDEDE;
    outline: none;
    border-radius: 2px;
    background-color: #FAFAFA;
    transition: all 0.2s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
header > .inner .search:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 0 3px 1px rgba(0,0,0,0.1);
}
header > .inner > div.searchEngines{
    float: left;
    margin: 20px 5px;
    padding: 5px 20px;
    background-color: rgba(250,250,250,0.4);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(77, 77, 77);
    transition: all 0.2s;
}
header > .inner > div.searchEngines:hover{
    color: #1BA8FF;
    transform: scale(1.1)
}




main {
    text-align: center;
    height:100vh;
    display: flex;
    vertical-align: top;
    justify-content: center;
    align-items:center;
}

main>#container {
    display: inline-block;
    padding:0 8px 6px;
    background: rgb(222, 222, 222);
    border-radius:16px;
    box-shadow: 0px 1px 0 1px rgba(125,110,100,1),
    0px 2px 0 1px rgba(110,90,80,1),
    0px 3px 0 1px rgba(80, 70, 60,1), 
    0px 4px 4px 3px rgba(60,50,50,1);
}

main>#container> .row > .key {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    border-radius: 6px;
    background: rgb(250, 250, 250);
    color:rgb(77, 77, 77);
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items:center;
    font-size:24px;
    font-family: 'DejaVu Sans';
    box-shadow: 0px 1px 0 1px rgba(177,177,177,1),
    0px 2px 0 1px rgba(151,151,151,1),
    0px 3px 0 1px rgba(101, 101, 101,1), 
    0px 4px 2px 3px rgba(30,30,30,1);
}
main>#container> .row > .key.letterKey{
    cursor: pointer;
    transition: all 0.2s
}
main>#container> .row > .key.letterKey:hover{
    transform: scale(1.1)
}

main>#container> .row > .key > .edit {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #fff;
    outline: none;
    border: 1px solid #DEDEDE;
    padding: 0 2px;
    border-radius: 2px;
}

main>#container>.row>.key:hover>.edit {
    display: block;
}
main>#container> .row:nth-child(3){
    margin-left:-25px;
}
main>#container>.row:nth-child(1)>.key {
    width: 46px;
    height: 46px;
}

main>#container>.row>.shift:last-child{
    width:130px;
}
main>#container>.row > .key > .webIcon{
    position:absolute;
    left:0;
    bottom:0;
    height:16px;
    width:16px;
}
body{
    background: url(../image/wall02-min.png) rgb(155, 128, 98) center center no-repeat;
    background-size: cover;
}