* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    height:100vh;
    /* display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items:center; */
}

main>#container {
    display: inline-block;
    padding:0 6px 6px;
    background: rgb(222, 222, 222);
    border-radius:16px;
    box-shadow: 0px 1px 0 1px rgba(125,110,100,1),
    0px 2px 0 1px rgba(110,90,80,1),
    0px 3px 0 1px rgba(80, 70, 60,1), 
    0px 4px 4px 3px rgba(60,50,50,1);
}

main>#container>div>kbd {
    width: 50px;
    height: 50px;
    margin: 10px;;
    position: relative;
    border-radius: 6px;
    background: rgb(250, 250, 250);
    color:rgb(77, 77, 77);
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items:center;
    font-size:20px;
    font-family: 'DejaVu Sans';
    box-shadow: 0px 1px 0 1px rgba(177,177,177,1),
    0px 2px 0 1px rgba(151,151,151,1),
    0px 3px 0 1px rgba(101, 101, 101,1), 
    0px 4px 2px 3px rgba(30,30,30,1);
}

main>#container>div>kbd>button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

main>#container>div>kbd:hover>button {
    display: block;
}

main>#container>div:nth-child(1)>kbd {
    width: 46px;
    height: 46px;
}