* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    height:100vh;
    display: flex;
    vertical-align: top;
    justify-content: center;
    align-items:center;
}

main>#container {
    display: inline-block;
    padding:0 8px 6px;
    background: rgb(222, 222, 222);
    border-radius:16px;
    box-shadow: 0px 1px 0 1px rgba(125,110,100,1),
    0px 2px 0 1px rgba(110,90,80,1),
    0px 3px 0 1px rgba(80, 70, 60,1), 
    0px 4px 4px 3px rgba(60,50,50,1);
}

main>#container> .row > .key {
    width: 50px;
    height: 50px;
    margin: 10px;;
    position: relative;
    border-radius: 6px;
    background: rgb(250, 250, 250);
    color:rgb(77, 77, 77);
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items:center;
    font-size:24px;
    font-family: 'DejaVu Sans';
    box-shadow: 0px 1px 0 1px rgba(177,177,177,1),
    0px 2px 0 1px rgba(151,151,151,1),
    0px 3px 0 1px rgba(101, 101, 101,1), 
    0px 4px 2px 3px rgba(30,30,30,1);
}

main>#container> .row > .key > .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

main>#container>.row>.key:hover>.btn {
    display: block;
}
main>#container> .row:nth-child(3){
    margin-left:-25px;
}
main>#container>.row:nth-child(1)>.key {
    width: 46px;
    height: 46px;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
main>#container>.row>.shift:last-child{
    width:130px;
}
main>#container>.row > .key > .img{
    position:absolute;
    left:0;
    bottom:0;
    height:16px;
    width:16px;
}
body{
    background: url(../image/wall02-min.png) rgb(155, 128, 98) center center no-repeat;
    background-size: cover;
}